@tailwind base;
@tailwind components;
@tailwind utilities;


/* Making background dark & some font stuff... you can delete this  */
:root {
    background-color: #000;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    overflow: hidden;
    font-weight: 400;
}